version: "3"
services:
    mysql:
      image: mysql
      command: --default-authentication-plugin=mysql_native_password
      environment:
        - MYSQL_PORT=3306
        - MYSQL_DATABASE=kilofarms
        - MYSQL_ROOT_PASSWORD=supersecret
        - MYSQL_PASSWORD=supersecret
      ports:
        - "3306:3306"
      expose:
        - "3306"