.nav-link:hover {
  color: inherit;
  text-decoration: none;
  opacity: .75;
}

.link-reset:hover {
  color: inherit;
  text-decoration: none;
}

.octicon {
  display: inline-block;
  vertical-align: text-top;
}

.card {
  width: 300px;
  height: 40px;
  padding: 8px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 4px;
}